.dashboard-page {
  display: flex;
}

.sidebar {
  width: 15%;
  padding: 10px 10px 10px 30px;
}

.cards {
  width: 85%;
  padding: 10px;
  display: flex;
  border-left: 1px solid #ccc; /* Vertical divider */
}

.no-devices {
  margin: auto;
  text-align: center;
}

.device-cards {
  display: flex;
  flex-wrap: wrap;
}

.device-card {
  height: auto;
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.device-card:hover {
  transform: scale(1.05);
}

.card-content {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

p {
  font-size: 16px;
  margin-bottom: 5px;
}

.sidebar, .cards {
  flex-grow: 1; /* Make both sidebar and cards divs stretch to full height */
}

.button-container {
  text-align: right; /* Align content to the right */
}

.delete-button {
  margin-left: 10px; /* Add some margin between buttons */
}
