<div class="dashboard-page">
  <div class="sidebar">
    <button mat-button color="primary" (click)="createDevice()">+ Create Device</button>
  </div>
  <div class="cards">
    <div *ngIf="devices.length == 0" class="no-devices">
      No devices present. Add new device.
    </div>
    <div *ngIf="devices.length > 0" class="device-cards">
      <mat-card *ngFor="let device of devices" class="device-card">
        <mat-card-content>
          <div class="card-content" style="margin-bottom: 30px">
            <h2>{{ device.name }}</h2>
            <p>{{ device.description }}</p>
            <p>Location: {{ device.location }}</p>
            <p>Model: {{ device.hardware_model }}</p>
          </div>
          <div class="button-container">
            <button mat-raised-button class="delete-button" color="primary">Update</button>
            <button mat-raised-button class="delete-button" color="warn">Delete</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
